<section class="section">
  <div class="container">
    <div class="card">
      <figure class="card-image is-4x3" data-hook="thumbnail"></figure>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5" data-hook="name"></p>
            <p class="subtitle is-6"><span data-hook="capacity"></span> Bikes</p>
          </div>
        </div>

        <div class="content">
          <div>Condition: <span data-hook="condition"></span></div>
          <div data-hook="geometry"></div>
        </div>
      </div>
    </div>
    <div>
      <a class="button" data-hook="edit-link">Edit</a>
      <a class="button is-danger" data-hook="delete-link">Delete</a>
    </div>
  </div>
</section>